<!DOCTYPE html>
<html>
<head>
</head>
<body class="fondo" >
<table>
  <tr>
    <td>
      <table class="">
        <tr>
          <td>
              <img src="https://lh3.googleusercontent.com/-bfwUx7s1Z7k/YLkeTFr64UI/AAAAAAAAAAM/0-LVyozWfrE_2y0OHDTEMRsQBm0ZCiGDACNcBGAsYHQ/img.jpeg" alt="" height="650px">

          </td>
        </tr>
      </table>
    </td>
    <td>
      <table class="">
        <tr>
          <td>
            <div class="sketchfab-embed-wrapper">
              <iframe title="Caja" width="640" height="480" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="fullscreen; autoplay; vr" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/d1d3b3eed2f54881aa09c7c850af871f/embed">
              </iframe> <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
              <a href="https://sketchfab.com/3d-models/funky-fyyran-1-d1d3b3eed2f54881aa09c7c850af871f?utm_medium=embed&utm_campaign=share-popup&utm_content=d1d3b3eed2f54881aa09c7c850af871f" target="_blank" style="font-weight: bold; color: #1CAAD9;"> Caja </a> by <a href="https://sketchfab.com/JuanFriXx?utm_medium=embed&utm_campaign=share-popup&utm_content=d1d3b3eed2f54881aa09c7c850af871f" target="_blank" style="font-weight: bold; color: #1CAAD9;"> Juan Francisco González Domínguez </a> on <a href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=d1d3b3eed2f54881aa09c7c850af871f" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a></p></div>

          </td>
        </tr>
      </table>
    </td>
  <tr>
    <th colspan="2" style="text-align: center; color: black;"> 
         <p>Elena Gómez Pichardo y Juan Francisco Gónzález Domínguez
         <p>Alumnos de 2ºASIR del <a href="https://www.iespuntadelverde.es/" target="_blank" style="color: white;"> IES Punta del Verde </a> (curso 2020/21) <br>
    </th>
  </tr>
</table>
</body>
</html>